.info {
    margin-top: 4px;
    padding-bottom: 15px;
}


.toolbar {
    padding-bottom: 20px;
}

.title {
    font-size: 18px;
    padding-top: 15px;
}


.back{
padding-top: 15px; 
font-size: 17px;
}

.button{
    font-size: unset;
}

.champs{
    font-size: 13px;
    margin-left: 10px;
    margin-top: 20px;
}
