<ion-header>

  <ion-toolbar class="header">

    <ion-buttons slot="start">
      <ion-back-button class="back"text="" icon="chevron-back"></ion-back-button>
    </ion-buttons>

    <img class="logo" src="../../assets/LOGO.png">
  
  </ion-toolbar>

</ion-header>

<br>

<ion-content>

  <div *ngIf="state === true"> 

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      
      <h5 class="sub_title">Nom* :</h5>
      <ion-card class="card">
        <ion-item class="info" lines="none">
         <ion-input class="data" type="text" placeholder="entrez votre nom" name="firstName" ngModel required></ion-input>
        </ion-item>
      </ion-card>

      <h5 class="sub_title">Prénom* :</h5>
      <ion-card class="card">
        <ion-item class="info" lines="none">
         <ion-input class="data" type="text" placeholder="entrez votre prénom" name="lastName" ngModel required></ion-input>
        </ion-item>
      </ion-card>

      <h5 class="sub_title">Email* :</h5>
      <ion-card class="card">
        <ion-item class="info" lines="none">
         <ion-input class="data" type="email" placeholder="entrez votre email" name="email" ngModel required></ion-input>
        </ion-item>
      </ion-card>  

      <h5 class="sub_title">Numéro de mobile* :</h5>
      <ion-card class="card">  
        <ion-item class="info" lines="none">
         <ion-input class="data" type="text" placeholder="entrez votre numéro" name="mobile" ngModel required></ion-input>
        </ion-item>
      </ion-card>    
  
      <br>
      <h6 *ngIf="state === true" class="champs">* : champs obligatoire </h6>

      <br>
      <ion-button class="button" expand="block" type="submit" [disabled]="f.invalid">Enregistrer</ion-button>

    </form>

  </div>


  <div *ngIf="state === false"> 

    <h5 class="sub_title">Nom :</h5>
    <ion-card class="card">
      <ion-item class="info" lines="none">
       <ion-label class="data">{{ profil.firstName | uppercase }} </ion-label>
      </ion-item>
    </ion-card>

    <h5 class="sub_title">Prénom :</h5>
    <ion-card class="card">
     <ion-item class="info" lines="none">
       <ion-label class="data">{{ profil.lastName | ucwords }} </ion-label>
     </ion-item>
    </ion-card>
    
    <h5 class="sub_title">Email :</h5>
    <ion-card class="card">
     <ion-item class="info" lines="none">
       <ion-label class="data">{{ profil.email }} </ion-label>
     </ion-item>
    </ion-card>

    <h5 class="sub_title">Numéro de mobile :</h5>
    <ion-card class="card">
     <ion-item class="info" lines="none">
       <ion-label class="data">{{ profil.mobile }}  </ion-label>
     </ion-item>
    </ion-card>
    
    
    <br>
    <ion-button class="button" expand="block" (click)="onEdit()">Modifier</ion-button>
  
  </div>

</ion-content>
