.toolbar {
  padding-bottom: 20px;
}

.title {
  font-size: 18px;
  padding-top: 18px;
}


.back{
padding-top: 15px; 
}


.menufastfood{
    font-size: medium;
    margin-top: 45px;
    font-weight: 700;
  }
  
  .menuname{
    margin-bottom: 8px;
    font-size: 18px;
    margin-top: 27px;
  }
  
  .menuprice{
    font-size: 14px;
    color: dodgerblue;
    margin-top: 25px;
   
  }
  
  .menucompos{
    color: slategray;
    margin: 3px;
    font-size: 11px;
    line-height: 30px;
    margin-bottom: 14px;
    margin-top: -5px;
  }
  
  .quantmenu{
    margin-bottom: 7px;
  }
  
  #resume{
    margin-bottom: 25px;
  }
  
  
  .supprimer{
    margin-top: 20px;
    font-size: medium;
    margin-right: 20px
  }

  .DateTime{
    margin-top: 30px;
    margin-right: -100px;
    font-size: small;
    font-weight: 500;
  }
  
  
  
  
  