.toolbar {
  padding-bottom: 20px;
}

.title {
  font-size: 18px;
  padding-top: 18px;
}


.back_0{
padding-top: 15px; 
}


.header {
  background-color: white;   
  height: 96px;
  padding-top: 1px;
  box-shadow: 0px 0px 25px #22232330;
  margin-bottom: 15px;
}


.logo {
  max-width: 60%;
  border: 0;
  margin-top: 15px;
  margin-left: 40px;
}

.back{
  --icon-margin-top: 10px;
  --icon-margin-start: 10px;
  --icon-font-size: 35px;
}

.infos {
  --background: #1D2126;
}

#label{
  margin-bottom: 23px;
}


.menufastfood{
    color: white;
    font-size: 14px;
    margin-top: 20px;
    font-weight: 500;
}
  
.menuname{
    margin-bottom: 3px;
    font-size: 18px;
    margin-top: 20px;
    color: #FFBF00;
    font-weight: bold;
}

.total {
  color: #FFBF00;
  width: 50%;
  margin-top: 9px;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 600;
}
  
.menuprice{
    font-size: 17px;
    color: white;
    width: 40px;
    margin-left: 255px;
    margin-top: -29px;
    font-weight: 600;
   
}
  
.menucompos{
    color: white;
    opacity: 0.8;
    margin: 2px;
    font-size: 12px;
    line-height: 18px;
    margin-top: 7px;
    margin-bottom: 14px;
    white-space: normal;
    word-break: normal;
    width: 245px;
}
  
.quantmenu{
    margin-bottom: 7px;
    margin-top: 5px;
    font-weight: bolder;
    font-size: inherit;
}
  
#resume{
    margin-bottom: 25px;
}

.montant {
  --background: #11191E;
  height: 60px;
}

#price {
  margin-top: 5px;
  margin-bottom: 15px;
}

.set_time {
  height: 115px;
  margin-bottom: 50px;
}

#time {
  margin-top: 0px;
}  
  
.supprimer{
  margin-top: 30px;
  margin-right: 20px;
  height: 38px;
  width: 117px;
  --box-shadow: 3px 3px 5px #22232330;
  margin-bottom: 45px;
}

.DateTime_1{
  margin: 0px 0px 3px 0px;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.DateTime_2 {
  margin: 0px;
  color: #E59413;
  font-size: 16px;
  font-weight: bolder;
}
  
  
  
  
  