.title {
    font-size: 18px;
    padding-top: 25px;
}

.toolbar {
    padding-bottom: 30px;
}

.info {
    margin-top: 15px;
    padding-bottom: 4px;
}

.button{
    font-size: large;
    margin-top: 20px;
    margin-bottom: -15px;
}



