.toolbar {
  background-color: white;   
  height: 96px;
  padding-top: 1px;
  margin-bottom: 0px;
}
  
.logo {
  max-width: 55%;
  border: 0;
  margin-top: 15px;
  margin-left: 70px;
}
  
  
.back{
  margin-top: -50px;
  margin-left: 10px;
  font-size: 35px;
  color: #FFBF00;
}

.header{
  box-shadow: 0px 0px 25px #22232330;
  margin-bottom: 15px;
  overflow: hidden;
  height: 219px;
}


.research-bar{
  padding-inline-start: 12px; 
  padding-inline-end: 12px;
  margin-top: -90px;
  margin-bottom: 60px;
  --background: white; 
}

.card{
  margin-top: auto;
}

.ff_selection{
  height: 65px;
}

.avatar{
  height: 45px;
  width: 45px;
  margin-top: 10px;
  --border-radius: 0%;
}





