<ion-header>

  <ion-toolbar class="toolbar">

    <img class="logo" src="../../assets/LOGO.png">

    <div class="back">
      <ion-icon  name="chevron-back-outline" (click)="onBack()"></ion-icon>
    </div>
    
  </ion-toolbar>

  <div class="header">
    <img src="../../assets/Burger.jpg">
  </div>

  <ion-searchbar class="research-bar" placeholder="Trouver un fast-food"></ion-searchbar>

</ion-header>

<ion-content fullscreen>
  
  <ion-list *ngFor="let fastFood of fastFoods | async; let i= index ">
   
    <ion-card class="card">

      <ion-item class="ff_selection" lines="none" (click)="onSendMenus(i)">
        <ion-avatar class="avatar" slot="start">
          <img [src]="fastFood.icone">
        </ion-avatar>
        <ion-label>
          <h2>{{ fastFood.name }}</h2>
        </ion-label>
        <ion-icon name="chevron-forward-circle" slot="end"></ion-icon>
      </ion-item>
      
    </ion-card>
    
  </ion-list>

</ion-content>

