<ion-header>

  <div class="header">
    <img class="logo" src="../../assets/LOGO.png">
   </div>

</ion-header>


<ion-content fullscreen>

  <div>

    <ion-list *ngFor="let menu of menuList, let i = index">

      <ion-item lines="none" >
        <ion-label>
          <h3 class="menufastfood">{{ menu.fastFood }}</h3>
          <h2 class="menuname">{{ menu.name }}</h2>
          <p class="menucompos">{{ menu.compos }}</p>
        </ion-label>
      </ion-item>

        
      <ion-item lines="none"> 
        <ion-label id="resume">
          <h3 class="quantmenu">{{ menu.choiceValue }} X {{ menu.quantMenu }}</h3>
          <p>Sauce: {{ menu.sauce }}</p>
          <p>{{ onDrink(i) }}</p>
          <h3 class="menuprice">Montant: {{ onPrice(i)*menu.quantMenu }} DZD</h3>
        </ion-label>
    
        <ion-button size="small" color="light" class="supprimer" (click)="deleteMenu(i)">Supprimer</ion-button>
        <ion-button size="small" color="primary" class="commander" (click)="addMenu(i)">Commander</ion-button>
    
      </ion-item>

      <ion-item (click)="getHoraires(i)">
        <ion-label class="time">Je récupère <br> ma commande à : </ion-label>
        <div class="timeInPut">
        <ion-datetime class="timeKeep" 
        mode="ios"
        displayFormat="HH:mm" 
        [min]="heureOV" [max]="heureFM" 
        picker-format="HH:mm"
        display-timezone="Africa/Algiers"
        placeholder="Choisissez l'heure"
        [(ngModel)]="initialTime"></ion-datetime>
        </div>  
      </ion-item>

    </ion-list>

  </div>


</ion-content>

