<ion-header>

  <div class="header">
    <img class="logo" src="../../assets/LOGO.png">
   </div>

</ion-header>


<ion-content fullscreen>

  <ion-fab color="warning" vertical="bottom" horizontal="end" slot="fixed" (click)="openPanierPage()">
    <ion-fab-button>
      <ion-icon name="map-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="ion-padding">
      
    <div class="catégories" *ngFor = "let image of images; let i= index">

      <div (click)="onOpenList(i)">
        <ion-img class="image" [src]="image.ref">
        </ion-img>
        <h5 class="Sub-title">{{ image.name }}</h5>

      </div>

    </div>

  </div>

</ion-content>

