
.header {
  background-color: white;   
  height: 96px;
  padding-top: 1px;
  box-shadow: 0px 0px 25px #22232330;
  margin-bottom: 40px;
}

.logo {
  max-width: 55%;
  border: 0;
  margin-top: 15px;
  margin-left: 70px;
}

.name{
  font-size: initial;
  margin-top: 45px;
  font-weight: 700;
}

.adresse{
  margin-bottom: 8px;
  font-size: 12px;
  margin-top: 15px;
}


.tel{
  color: dodgerblue;
  margin: 3px;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 10px;
  margin-top: 0px;
}


.statut{
  margin: 3px;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.supprimer{
  margin-top: 35px;
  font-size: medium;
  margin-right: -85px;
}

.Menu{
  margin-top: 126px;
  font-size: medium;
  margin-right: 20px;
  margin-bottom: 16px
}





