<ion-header>

  <div class="header">
    <img class="logo" src="../../assets/LOGO.png">
   </div>

</ion-header>


<ion-content fullscreen>

  <div>

    <ion-list *ngFor="let favoris of favorisList, let i = index">

      <ion-card>
        <ion-item lines="none">
          
          <div class="flex">
          
            <div id="icone">
              <img class="icone_img" [src]="favoris.icone">
            </div>

            <ion-label>

             <h3 class="name">{{ favoris.name }}</h3>
             <h2 class="adresse">{{ favoris.adresse }}</h2>
             <p class="tel">{{ favoris.tel }}</p>

            </ion-label> 
                    
            <div class="bouttons">
             <ion-button size="small" color="light" class="supprimer" (click)="deleteMenu(i)">Supprimer</ion-button>
             <ion-button size="small" color="primary" class="Menu" (click)="onSendMenus(i)" routerLink="/abracadabrasy">Voir menu</ion-button>
            </div>
        
          </div>

        </ion-item>
      </ion-card>
     
    </ion-list>

  </div>

</ion-content>

