<ion-content>

  <div class="header">
   <h1 class="title">RapidO</h1>
  </div>

  <div>

    <ion-list *ngFor="let favoris of favorisList, let i = index">

      <ion-item>

        <ion-label>

          <h3 class="name">{{ favoris.name }}</h3>
          <h2 class="adresse">{{ favoris.adresse }}</h2>
          <p class="tel">{{ favoris.tel }}</p>

        </ion-label>    

        <ion-button size="small" color="light" class="supprimer" (click)="deleteMenu(i)">Supprimer</ion-button>
        <ion-button size="small" color="primary" class="Menu" (click)="onSendMenus(i)" routerLink="/abracadabrasy">Voir menu</ion-button>

      </ion-item>
     
    </ion-list>

  </div>

</ion-content>

