.toolbar {
    padding-bottom: 20px;
    }
    
  .title {
    font-size: 20px;
    padding-top: 30px;
  }
    
    
  .back{
    margin-top: 20px;
    margin-bottom: -13px;
    margin-left: 10px;
    font-size: 30px;
    color: #3880ff;
  }
  
  
  .research-bar{
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: 12px;
    padding-inline-start: 0px; 
    -webkit-padding-end: 12px;
    padding-inline-end: 0px;
  }