<ion-app>

<ion-split-pane contentId="menu-content">
  
  <ion-menu contentId="menu-content" menuId="menu-content" side="start" class="Mymenu">

    <ion-content>

      <div class="header">
        <h2>{{ User.lastName | ucwords }} {{ User.firstName | uppercase}}</h2>
        <h3>{{ User.email }}</h3>
      </div>
    
      <div class="flex">
        <div class="border-blue">
          <div class="border-white">
            <div class="img-box">
           <h4>{{ User.lastName[0] | uppercase }}{{ User.firstName[0] | uppercase }} </h4>
            </div>
          </div> 
        </div>
      </div>

      <ion-list lines="none"> 

        
        <ion-item (click)="onProfil()"> 
          <ion-label>Mon profil</ion-label>
          <ion-icon name="person" slot="start" color="warning"></ion-icon>
        </ion-item>

        <ion-item (click)="onCommande()">
          <ion-label>Mes commandes passées</ion-label>
          <ion-icon name="list" slot="start" color="warning"></ion-icon>
        </ion-item>

        <ion-item (click)="logOut()">
          <ion-label>Me déconnecter</ion-label>
          <ion-icon name="power" slot="start" color="warning"></ion-icon>
        </ion-item>

        <ion-item (click)="onApropos()">
          <ion-label>A propos</ion-label>
          <ion-icon name="information-circle" slot="start" color="warning"></ion-icon>
        </ion-item>
       
      </ion-list>

      <h5 class="copyright">Wejedli © 2021 - Tous droits réservés</h5>

    </ion-content>

  </ion-menu>

  <ion-router-outlet id="menu-content"></ion-router-outlet>

</ion-split-pane>
   
</ion-app>
