.info {
    margin-top: 4px;
    padding-bottom: 15px;
}


.toolbar {
    padding-bottom: 20px;
}

.title {
    font-size: 18px;
    padding-top: 15px;
}


.back{
padding-top: 15px; 
}

.button{
    font-size: large;
}

