.toolbar {
    background-color: white;   
    height: 96px;
    padding-top: 1px;
    margin-bottom: 0px;
}
    
.logo {
    max-width: 55%;
    border: 0;
    margin-top: 15px;
    margin-left: 70px;
}
    
    
.back{
    margin-top: -50px;
    margin-left: 10px;
    font-size: 35px;
    color: #FFBF00;
}

.header{
    background-color: #1D2126; 
    height: 195px;
    padding-top: 1px;
    box-shadow: 0px 0px 25px #22232330;
}


.header h2 {
    margin-top: 30px;
    font-size: 20px;
    padding-top: 5px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.header h3{
    font-size: 13px;
    color:#FFBF00;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 1.2;
    padding-left: 45px;
    padding-right: 45px;

}

.flex{
    display: flex;
    justify-content: center;
    margin-top: -76px;
    margin-bottom: -110px;
}

.border-white{
    border: 6px solid white;
    border-radius: 50%;
    width: fit-content;
}

.img-box{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 3px 7px darkgrey;
}

.tel{
    padding-bottom: 0px;
    padding-top: 3px;
    margin-bottom: 75px;
    margin-top: 4px;
    margin-left: 50px;
    margin-right: 330px;
    font-size: 28px;
    color: white; 
}

.location{
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 75px;
    margin-top: -113px;
    margin-left: 275px;
    margin-right: 300px;
    font-size: 29px;
    color: white;
}

.timeShedule{

    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 75px;
    margin-top: -114px;
    margin-left: 327px;
    margin-right: 300px;
    font-size: 30px;
    color: white;  
}

.flex_menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ion-card{
    width: 158px;
    margin: 10px;
    height: 158px;
    border-radius: 6px;
}

.menu_box{
    height: 90px;
    overflow: hidden;
    width: 165px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}


.menu_img{
    max-width: 65%;
}

.menu_name {
    font-size: medium;
    text-align: center;
    font-weight: 400;
    margin-top: -15px;
}

ion-footer {
    height: 65px;
}
    

.ajouter{
    margin-top: 15px;
    font-size: smaller;
    padding-left: 120px;
    --box-shadow: 2px 2px 4px #22232330;
}



